@import "base/_all";
@import "layout/_all";

body {
  overflow-x: hidden;
  background-color: #0000d8;
  // @include transition(background-color);
}

@mixin blend {
  mix-blend-mode: difference;
  z-index: $z0;
}

.blend {
  @include blend;
}

.title {
  color: white;
  position: fixed;
  top: $space;
  width: 100%;
  text-align: center;
  z-index: $z1;

  a {
    @extend h1;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.container {
  padding: 0 $space;
  display: block;
  color: white;
  min-height: 100%;
  // overflow-x: hidden;
}

main {
  &.full-height {
    height: 100%;
  }
}

.project-link {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;

  img {
    max-width: 60%;
    max-height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.project-link__about {
  height: 500px;
  position: relative;
  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @include phone-only {
    height: 250px;
  }
}

.project-link__about__center {
  @extend .project-link__about;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}

nav {
  @include blend;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  max-height: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  padding: $space 0;
  z-index: $z2;

  &.left {
    left: $space;
    align-items: flex-start;
  }

  &.right {
    right: $space;
    align-items: flex-end;
  }

  .rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .swatches {
    mix-blend-mode: screen;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.label {
  width: 100%;
}

$swatches: 12px;

.swatches {
  position: fixed;
  top: 50%;
  right: $space;
  transform: translateY(-50%);
  z-index: $z3;

  span {
    border: 1px solid white;
    display: block;
    height: $swatches;
    width: $swatches;
    border-radius: 50%;
    cursor: pointer;
    margin: $swatches / 2 0;
  }
}

#rotating_text {
  pointer-events: none;
  position: absolute;
  width: 1100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  fill: white;
  font-size: 6.25px;
  font-family: $font-family-display;
  z-index: $z1;
  max-height: 100%;
  max-width: 90%;

  path {
    fill: none;
  }
}

@include phone-only {

  #rotating_text {
    transform-origin: center;
    transform: translate(-50%, -50%); //scale(2.4)
    max-width: 200%;

    #text {
      max-width: none;
      width: 180%;
    }
  }

  .over-width-mobile {
    .project-link,
    .project-link__about {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); // rotate(90deg)
    }

    .project-link {
      transform-origin: center center;
      height: 100%;
    }

    .project-link__about {
      width: 100%;
    }
  }
}

/* Works page */

.works-container {
  columns: 1;
  column-gap: $space;
  max-width: 75rem;
  display: block;
  margin: $space * 3 auto $space auto;
  @include tablet-portrait-up {
    columns: 2;
  }
  @include tablet-landscape-up {
    columns: 3;
  }
  @include desktop-up {
    columns: 4;
  }

  .work {
    display: inline-block;
    margin: 0 0 $space / 4;
    width: 100%;
    text-decoration: none;
    @include transition(filter);

    img {
      max-width: 100%;
    }

    p {
      @include blend;
      width: 100%;
      // border-bottom: 1px solid white;
      // padding-bottom: .5rem;
      margin-top: 0;
    }
  }
}

/* About page */

.arrow-down {
  position: absolute;
  bottom: $space;
  left: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  @include blend;

  svg {
    height: 100%;
  }
}

.about {
  @include article;
  padding-bottom: $space * 2;

  .introduction {
    padding: $space;
    text-align: center;
    @include tablet-landscape-up {
      padding: $space * 2;
    }

    h3 {
      @include blend;
      margin-bottom: $space;
    }

    span {
      @include transition;
      background-color: transparent;

      &:hover {
        color: black;
        background-color: white;
      }
    }

    .gun {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .informations {
    color: white;
    @include blend;

    & > div {
      padding: 0 $space $space;
    }

    p {
      margin-bottom: $space / 2;
    }
  }
}

ul.lines {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: $space / 4;
    padding-bottom: $space / 4;
    border-bottom: 1px solid white;
  }
}

/* Contact page */

.contact {
  max-width: 45rem;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  text-align: center;
  padding-top: $space * 3;

  .full {
    margin-bottom: $space;

    &:hover .emoji {
      animation: float 0.5s infinite alternate;
    }
  }

  h3 {
    @include blend;
    margin-bottom: 0;
  }

  p {
    @include blend;
  }

  ul {
    @include blend;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-top: $space / 4;
    }
  }

  .emoji {
    display: block;
    margin-bottom: 0;
    @extend h1;
  }
}

@keyframes float {
  from {
    transform: translateY(2.5px);
  }

  to {
    transform: translateY(-2.5px);
  }
}

/* Social page - the wall */

.social {
  margin-top: $space * 3;
  text-align: center;

  .cell {
    @extend .three;
    padding-bottom: $space;

    &:nth-child(3n + 1) {
      @extend .four;
    }
  }

  img {
    max-width: 100%;
  }
}

/* Article page */

.article {
  @include article;
  min-height: 100%;
  padding: $space * 6 $space $space * 2 $space;
  color: white;

  @include tablet-landscape-up {
    padding: $space * 6 0 $space * 2 0;
  }

  h1 {
    text-align: center;
    margin-bottom: $space * 2;
  }

  figure {
    margin: $space / 2 0;
  }

  .content {
    margin-bottom: $space / 2;

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    span,
    ul {
      @extend .blend;
    }

    iframe {
      width: 100%;
    }

    .double {
      @include grid(50);

      margin: 0 -1 * $space / 2;

      figure {
        min-width: 300px;
        margin-top: 0;
        padding: 0 $space / 2;
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
